<div class="col-3-lg">
  <div class="profile-section">
    
  </div>
  <div class="nav-links">
    <a href="#">Dashboard</a>
    <a href="#">Teams</a>
    <a href="#">Contributors</a>
    <a href="#">Repositories</a>
    <a href="#">Settings</a>
  </div>
</div>