<div class="col-3 bg-white h-100vh">
  <div class="pr-50 pl-50 pt-50 pb-10 is-horizontal-align">
    <div class="bg-white rounded-circle bg-cover w-70" style="background-image: url(https://source.unsplash.com/daily?face/500x500); padding-top: 70%;">
    </div>
  </div>
  <div>
    <h4 class="is-center mb-0">Jitendra Nirnejak</h4>
    <p class="text-dark is-center">nirnejak</p>
  </div>
  <div class="sidebar-links p-50" style="padding-top: 30px !important;">
    <a href="/dashboard" class="sidebar-link {{# if dashboard }}active{{/if}}">
      <i class="fas fa-chart-line"></i>
      Dashboard
    </a>
    <a href="/teams" class="sidebar-link {{# if teams }}active{{/if}}">
      <i class="fas fa-users"></i>
      Teams
    </a>
    <a href="/contributors" class="sidebar-link {{# if contributors }}active{{/if}}">
      <i class="fas fa-user"></i>
      Contributors
    </a>
    <a href="/repositories" class="sidebar-link {{# if repositories }}active{{/if}}">
      <i class="fas fa-code-branch"></i>
      Repositories
    </a>
    <a href="/settings" class="sidebar-link {{# if setting }}active{{/if}}">
      <i class="fas fa-cog"></i>
      Settings
    </a>
  </div>
  <div class="sidebar-footer">
    <div class="row">
      <div class="col-3 is-center">
        <small class="text-dark">Developed by Inkoop Pvt. Ltd.</small>
      </div>
    </div>
  </div>
</div>