<div class="row">
  {{> sidebar collaborators='collaborators' user=user}}
  <div class="col-9-lg pt-70">
    <div class="px-20">
      <h1>Collaborators</h1>
      <div class="row">
        {{# each user.collaborators}}
        <div class="col-2 p-5 collaborator-avatar-container" onclick="window.location='/collaborators/{{this.login}}'">
          <div class="is-center">
            <div class="collaborator-avatar position-relative is-center">
              <div class="bg-white rounded-circle bg-cover"
                style="background-image: url({{this.avatar_url}}); width: var(--avatar-dimension); padding-top: var(--avatar-dimension);">
              </div>
              <div class="overlay rounded-circle"></div>
            </div>
          </div>
          <p class="is-text-center mt-10">
            {{this.name}}
          </p>
          <small class="is-text-center text-dark is-center">
            {{this.login}}
          </small>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>