<div class="row">
  {{> sidebar dashboard='dashboard' user=user }}
  <div class="col-9-lg pt-70">
    <div class="px-20">
      <h1>Dashboard</h1>
      <div class="row">
        <div class="col-4 p-5">
          <div class="bg-white border-radius-10 p-20">
            <i class="fas fa-code-branch mr-5"></i>
            {{user.total_repositories}}
            Total Repositories
          </div>
        </div>
        <div class="col-4 p-5">
          <div class="bg-white border-radius-10 p-20">
            <br><br><br><br>
          </div>
        </div>
        <div class="col-4 p-5">
          <div class="bg-white border-radius-10 p-20">
            <br><br><br><br>
          </div>
        </div>
      </div>
      <div class="row mt-30">
        <div class="col-12">
          <h2>Collaborators</h2>
        </div>
        <div class="col-2 p-5">
          <div class="bg-white rounded-circle bg-cover w-100" style="background-image: url(https://source.unsplash.com/weekly?water/500x500); padding-top: 100%;">
          </div>
        </div>
        <div class="col-2 p-5">
          <div class="bg-white rounded-circle bg-cover w-100" style="background-image: url(https://source.unsplash.com/weekly?sand/500x500); padding-top: 100%;">
          </div>
        </div>
        <div class="col-2 p-5">
          <div class="bg-white rounded-circle bg-cover w-100" style="background-image: url(https://source.unsplash.com/weekly?nature/500x500); padding-top: 100%;">
          </div>
        </div>
        <div class="col-2 p-5">
          <div class="bg-white rounded-circle bg-cover w-100" style="background-image: url(https://source.unsplash.com/weekly?object/500x500); padding-top: 100%;">
          </div>
        </div>
        <div class="col-2 p-5">
          <div class="bg-white rounded-circle bg-cover w-100" style="background-image: url(https://source.unsplash.com/weekly?work/500x500); padding-top: 100%;">
          </div>
        </div>
        <div class="col-2 p-5">
          <div class="bg-white rounded-circle bg-cover w-100" style="background-image: url(https://source.unsplash.com/weekly?business/500x500); padding-top: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>