{{!-- Include Sidebar Here --}}
<div class="row">
  <div class="col-3 bg-white h-100vh">
    <div class="p-50">
      <div class="bg-white rounded-circle bg-cover is-horizontal-align"
        style="background-image: url(https://source.unsplash.com/weekly?man/500x500)">
      </div>
    </div>
  </div>
  <div class="col-9-lg">
    <div class="p-10">
      <h1>Dashboard</h1>
      <div class="row">
        <div class="col-4">
          <div class="card bg-white">
            <br><br><br><br>
          </div>
        </div>
        <div class="col-4">
          <div class="card bg-white">
            <br><br><br><br>
          </div>
        </div>
        <div class="col-4">
          <div class="card bg-white">
            <br><br><br><br>
          </div>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-2">
          <div class="bg-white rounded-circle bg-cover"
            style="background-image: url(https://source.unsplash.com/weekly?water/500x500)">
          </div>
        </div>
        <div class="col-2">
          <div class="bg-white rounded-circle bg-cover"
            style="background-image: url(https://source.unsplash.com/weekly?sand/500x500)">
          </div>
        </div>
        <div class="col-2">
          <div class="bg-white rounded-circle bg-cover"
            style="background-image: url(https://source.unsplash.com/weekly?nature/500x500)">
          </div>
        </div>
        <div class="col-2">
          <div class="bg-white rounded-circle bg-cover"
            style="background-image: url(https://source.unsplash.com/weekly?object/500x500)">
          </div>
        </div>
        <div class="col-2">
          <div class="bg-white rounded-circle bg-cover"
            style="background-image: url(https://source.unsplash.com/weekly?work/500x500)">
          </div>
        </div>
        <div class="col-2">
          <div class="bg-white rounded-circle bg-cover"
            style="background-image: url(https://source.unsplash.com/weekly?business/500x500)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>