{{!-- Include Sidebar Here --}}

<div class="col-6-lg">
  <div class="row">
    <div class="col-4">
      <div class="card"></div>
    </div>
    <div class="col-4">
      <div class="card"></div>
    </div>
    <div class="col-4">
      <div class="card"></div>
    </div>
  </div>
</div>