<div class="row">
  {{> sidebar repositories='repositories' user=user}}
  <div class="col-9-lg pt-70 h-100vh mb-0" style="overflow-y: auto;">
    <div class="px-20">
      <h1>Repositories</h1>
      <div class="row">
        {{# each user.repositories}}
        <div class="col-3">
          <div class="bg-white border-radius-5 p-20 my-5"
            style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
            <i class="fas fa-code-branch mr-5"></i>
            {{this.name}}
            <i class="fas fa-pencil-alt pull-right mt-5"></i>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>