* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #f4f4f4;
}

.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #fff;
  border: 4px solid rgba(0, 0, 0, 0.7);
  border-radius: 2em;
}

.tgl-flat + .tgl-btn:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.7);
  content: "";
  border-radius: 1em;
}

.tgl-flat:checked + .tgl-btn {
  border: 4px solid #000000;
}

.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #000000;
}

.sidebar-links .sidebar-link {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 7px 15px;
  background: transparent;
  color: #0e57ff;
}

.sidebar-links .sidebar-link:hover {
  background: #D5E1FF;
}

.sidebar-links .sidebar-link i {
  margin-right: 5px;
}

.sidebar-links .sidebar-link.active {
  background: #0e57ff;
  color: white;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rounded-circle {
  border-radius: 50% !important;
}

.bg-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.bg-white {
  background: white;
}

.position-static {
  position: static !important;
}

.position-fixed {
  position: fixed !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.cursor-context-menu {
  cursor: context-menu !important;
}

.border-radius-0 {
  border-radius: 0px !important;
}

.h-0vh {
  min-height: 0vh !important;
}

.h-0 {
  height: 0% !important;
}

.w-0 {
  width: 0% !important;
}

.t-0 {
  top: 0px !important;
}

.r-0 {
  right: 0px !important;
}

.b-0 {
  bottom: 0px !important;
}

.l-0 {
  left: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.px-0 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mx-0 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.h-5vh {
  min-height: 5vh !important;
}

.h-5 {
  height: 5% !important;
}

.w-5 {
  width: 5% !important;
}

.t-5 {
  top: 5px !important;
}

.r-5 {
  right: 5px !important;
}

.b-5 {
  bottom: 5px !important;
}

.l-5 {
  left: 5px !important;
}

.p-5 {
  padding: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.px-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.py-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.m-5 {
  margin: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mx-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.my-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.h-10vh {
  min-height: 10vh !important;
}

.h-10 {
  height: 10% !important;
}

.w-10 {
  width: 10% !important;
}

.t-10 {
  top: 10px !important;
}

.r-10 {
  right: 10px !important;
}

.b-10 {
  bottom: 10px !important;
}

.l-10 {
  left: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.px-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mx-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.border-radius-15 {
  border-radius: 15px !important;
}

.h-15vh {
  min-height: 15vh !important;
}

.h-15 {
  height: 15% !important;
}

.w-15 {
  width: 15% !important;
}

.t-15 {
  top: 15px !important;
}

.r-15 {
  right: 15px !important;
}

.b-15 {
  bottom: 15px !important;
}

.l-15 {
  left: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.px-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.py-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.m-15 {
  margin: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mx-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.my-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.border-radius-20 {
  border-radius: 20px !important;
}

.h-20vh {
  min-height: 20vh !important;
}

.h-20 {
  height: 20% !important;
}

.w-20 {
  width: 20% !important;
}

.t-20 {
  top: 20px !important;
}

.r-20 {
  right: 20px !important;
}

.b-20 {
  bottom: 20px !important;
}

.l-20 {
  left: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.px-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mx-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.h-25vh {
  min-height: 25vh !important;
}

.h-25 {
  height: 25% !important;
}

.w-25 {
  width: 25% !important;
}

.t-25 {
  top: 25px !important;
}

.r-25 {
  right: 25px !important;
}

.b-25 {
  bottom: 25px !important;
}

.l-25 {
  left: 25px !important;
}

.p-25 {
  padding: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.px-25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.py-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.m-25 {
  margin: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mx-25 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.my-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.border-radius-30 {
  border-radius: 30px !important;
}

.h-30vh {
  min-height: 30vh !important;
}

.h-30 {
  height: 30% !important;
}

.w-30 {
  width: 30% !important;
}

.t-30 {
  top: 30px !important;
}

.r-30 {
  right: 30px !important;
}

.b-30 {
  bottom: 30px !important;
}

.l-30 {
  left: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.px-30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mx-30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.border-radius-35 {
  border-radius: 35px !important;
}

.h-35vh {
  min-height: 35vh !important;
}

.h-35 {
  height: 35% !important;
}

.w-35 {
  width: 35% !important;
}

.t-35 {
  top: 35px !important;
}

.r-35 {
  right: 35px !important;
}

.b-35 {
  bottom: 35px !important;
}

.l-35 {
  left: 35px !important;
}

.p-35 {
  padding: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.px-35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.py-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.m-35 {
  margin: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mx-35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.my-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.border-radius-40 {
  border-radius: 40px !important;
}

.h-40vh {
  min-height: 40vh !important;
}

.h-40 {
  height: 40% !important;
}

.w-40 {
  width: 40% !important;
}

.t-40 {
  top: 40px !important;
}

.r-40 {
  right: 40px !important;
}

.b-40 {
  bottom: 40px !important;
}

.l-40 {
  left: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.px-40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.m-40 {
  margin: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mx-40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.border-radius-45 {
  border-radius: 45px !important;
}

.h-45vh {
  min-height: 45vh !important;
}

.h-45 {
  height: 45% !important;
}

.w-45 {
  width: 45% !important;
}

.t-45 {
  top: 45px !important;
}

.r-45 {
  right: 45px !important;
}

.b-45 {
  bottom: 45px !important;
}

.l-45 {
  left: 45px !important;
}

.p-45 {
  padding: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.px-45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.py-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.m-45 {
  margin: 45px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mx-45 {
  margin-right: 45px !important;
  margin-left: 45px !important;
}

.my-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.border-radius-50 {
  border-radius: 50px !important;
}

.h-50vh {
  min-height: 50vh !important;
}

.h-50 {
  height: 50% !important;
}

.w-50 {
  width: 50% !important;
}

.t-50 {
  top: 50px !important;
}

.r-50 {
  right: 50px !important;
}

.b-50 {
  bottom: 50px !important;
}

.l-50 {
  left: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.px-50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mx-50 {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.border-radius-55 {
  border-radius: 55px !important;
}

.h-55vh {
  min-height: 55vh !important;
}

.h-55 {
  height: 55% !important;
}

.w-55 {
  width: 55% !important;
}

.t-55 {
  top: 55px !important;
}

.r-55 {
  right: 55px !important;
}

.b-55 {
  bottom: 55px !important;
}

.l-55 {
  left: 55px !important;
}

.p-55 {
  padding: 55px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pl-55 {
  padding-left: 55px !important;
}

.pr-55 {
  padding-right: 55px !important;
}

.px-55 {
  padding-right: 55px !important;
  padding-left: 55px !important;
}

.py-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.m-55 {
  margin: 55px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mx-55 {
  margin-right: 55px !important;
  margin-left: 55px !important;
}

.my-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.border-radius-60 {
  border-radius: 60px !important;
}

.h-60vh {
  min-height: 60vh !important;
}

.h-60 {
  height: 60% !important;
}

.w-60 {
  width: 60% !important;
}

.t-60 {
  top: 60px !important;
}

.r-60 {
  right: 60px !important;
}

.b-60 {
  bottom: 60px !important;
}

.l-60 {
  left: 60px !important;
}

.p-60 {
  padding: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.px-60 {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.py-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.m-60 {
  margin: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mx-60 {
  margin-right: 60px !important;
  margin-left: 60px !important;
}

.my-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.border-radius-65 {
  border-radius: 65px !important;
}

.h-65vh {
  min-height: 65vh !important;
}

.h-65 {
  height: 65% !important;
}

.w-65 {
  width: 65% !important;
}

.t-65 {
  top: 65px !important;
}

.r-65 {
  right: 65px !important;
}

.b-65 {
  bottom: 65px !important;
}

.l-65 {
  left: 65px !important;
}

.p-65 {
  padding: 65px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.px-65 {
  padding-right: 65px !important;
  padding-left: 65px !important;
}

.py-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.m-65 {
  margin: 65px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.mx-65 {
  margin-right: 65px !important;
  margin-left: 65px !important;
}

.my-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.border-radius-70 {
  border-radius: 70px !important;
}

.h-70vh {
  min-height: 70vh !important;
}

.h-70 {
  height: 70% !important;
}

.w-70 {
  width: 70% !important;
}

.t-70 {
  top: 70px !important;
}

.r-70 {
  right: 70px !important;
}

.b-70 {
  bottom: 70px !important;
}

.l-70 {
  left: 70px !important;
}

.p-70 {
  padding: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.px-70 {
  padding-right: 70px !important;
  padding-left: 70px !important;
}

.py-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.m-70 {
  margin: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mx-70 {
  margin-right: 70px !important;
  margin-left: 70px !important;
}

.my-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.border-radius-75 {
  border-radius: 75px !important;
}

.h-75vh {
  min-height: 75vh !important;
}

.h-75 {
  height: 75% !important;
}

.w-75 {
  width: 75% !important;
}

.t-75 {
  top: 75px !important;
}

.r-75 {
  right: 75px !important;
}

.b-75 {
  bottom: 75px !important;
}

.l-75 {
  left: 75px !important;
}

.p-75 {
  padding: 75px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.px-75 {
  padding-right: 75px !important;
  padding-left: 75px !important;
}

.py-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.m-75 {
  margin: 75px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mx-75 {
  margin-right: 75px !important;
  margin-left: 75px !important;
}

.my-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.border-radius-80 {
  border-radius: 80px !important;
}

.h-80vh {
  min-height: 80vh !important;
}

.h-80 {
  height: 80% !important;
}

.w-80 {
  width: 80% !important;
}

.t-80 {
  top: 80px !important;
}

.r-80 {
  right: 80px !important;
}

.b-80 {
  bottom: 80px !important;
}

.l-80 {
  left: 80px !important;
}

.p-80 {
  padding: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.px-80 {
  padding-right: 80px !important;
  padding-left: 80px !important;
}

.py-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.m-80 {
  margin: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mx-80 {
  margin-right: 80px !important;
  margin-left: 80px !important;
}

.my-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.border-radius-85 {
  border-radius: 85px !important;
}

.h-85vh {
  min-height: 85vh !important;
}

.h-85 {
  height: 85% !important;
}

.w-85 {
  width: 85% !important;
}

.t-85 {
  top: 85px !important;
}

.r-85 {
  right: 85px !important;
}

.b-85 {
  bottom: 85px !important;
}

.l-85 {
  left: 85px !important;
}

.p-85 {
  padding: 85px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.px-85 {
  padding-right: 85px !important;
  padding-left: 85px !important;
}

.py-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.m-85 {
  margin: 85px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.mx-85 {
  margin-right: 85px !important;
  margin-left: 85px !important;
}

.my-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.border-radius-90 {
  border-radius: 90px !important;
}

.h-90vh {
  min-height: 90vh !important;
}

.h-90 {
  height: 90% !important;
}

.w-90 {
  width: 90% !important;
}

.t-90 {
  top: 90px !important;
}

.r-90 {
  right: 90px !important;
}

.b-90 {
  bottom: 90px !important;
}

.l-90 {
  left: 90px !important;
}

.p-90 {
  padding: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.px-90 {
  padding-right: 90px !important;
  padding-left: 90px !important;
}

.py-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.m-90 {
  margin: 90px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mx-90 {
  margin-right: 90px !important;
  margin-left: 90px !important;
}

.my-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.border-radius-95 {
  border-radius: 95px !important;
}

.h-95vh {
  min-height: 95vh !important;
}

.h-95 {
  height: 95% !important;
}

.w-95 {
  width: 95% !important;
}

.t-95 {
  top: 95px !important;
}

.r-95 {
  right: 95px !important;
}

.b-95 {
  bottom: 95px !important;
}

.l-95 {
  left: 95px !important;
}

.p-95 {
  padding: 95px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pl-95 {
  padding-left: 95px !important;
}

.pr-95 {
  padding-right: 95px !important;
}

.px-95 {
  padding-right: 95px !important;
  padding-left: 95px !important;
}

.py-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.m-95 {
  margin: 95px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.ml-95 {
  margin-left: 95px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.mx-95 {
  margin-right: 95px !important;
  margin-left: 95px !important;
}

.my-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.border-radius-100 {
  border-radius: 100px !important;
}

.h-100vh {
  min-height: 100vh !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.t-100 {
  top: 100px !important;
}

.r-100 {
  right: 100px !important;
}

.b-100 {
  bottom: 100px !important;
}

.l-100 {
  left: 100px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.px-100 {
  padding-right: 100px !important;
  padding-left: 100px !important;
}

.py-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mx-100 {
  margin-right: 100px !important;
  margin-left: 100px !important;
}

.my-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.border-radius-105 {
  border-radius: 105px !important;
}

.h-105vh {
  min-height: 105vh !important;
}

.h-105 {
  height: 105% !important;
}

.w-105 {
  width: 105% !important;
}

.t-105 {
  top: 105px !important;
}

.r-105 {
  right: 105px !important;
}

.b-105 {
  bottom: 105px !important;
}

.l-105 {
  left: 105px !important;
}

.p-105 {
  padding: 105px !important;
}

.pt-105 {
  padding-top: 105px !important;
}

.pb-105 {
  padding-bottom: 105px !important;
}

.pl-105 {
  padding-left: 105px !important;
}

.pr-105 {
  padding-right: 105px !important;
}

.px-105 {
  padding-right: 105px !important;
  padding-left: 105px !important;
}

.py-105 {
  padding-top: 105px !important;
  padding-bottom: 105px !important;
}

.m-105 {
  margin: 105px !important;
}

.mt-105 {
  margin-top: 105px !important;
}

.mb-105 {
  margin-bottom: 105px !important;
}

.ml-105 {
  margin-left: 105px !important;
}

.mr-105 {
  margin-right: 105px !important;
}

.mx-105 {
  margin-right: 105px !important;
  margin-left: 105px !important;
}

.my-105 {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}

.border-radius-110 {
  border-radius: 110px !important;
}

.h-110vh {
  min-height: 110vh !important;
}

.h-110 {
  height: 110% !important;
}

.w-110 {
  width: 110% !important;
}

.t-110 {
  top: 110px !important;
}

.r-110 {
  right: 110px !important;
}

.b-110 {
  bottom: 110px !important;
}

.l-110 {
  left: 110px !important;
}

.p-110 {
  padding: 110px !important;
}

.pt-110 {
  padding-top: 110px !important;
}

.pb-110 {
  padding-bottom: 110px !important;
}

.pl-110 {
  padding-left: 110px !important;
}

.pr-110 {
  padding-right: 110px !important;
}

.px-110 {
  padding-right: 110px !important;
  padding-left: 110px !important;
}

.py-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}

.m-110 {
  margin: 110px !important;
}

.mt-110 {
  margin-top: 110px !important;
}

.mb-110 {
  margin-bottom: 110px !important;
}

.ml-110 {
  margin-left: 110px !important;
}

.mr-110 {
  margin-right: 110px !important;
}

.mx-110 {
  margin-right: 110px !important;
  margin-left: 110px !important;
}

.my-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important;
}

.border-radius-115 {
  border-radius: 115px !important;
}

.h-115vh {
  min-height: 115vh !important;
}

.h-115 {
  height: 115% !important;
}

.w-115 {
  width: 115% !important;
}

.t-115 {
  top: 115px !important;
}

.r-115 {
  right: 115px !important;
}

.b-115 {
  bottom: 115px !important;
}

.l-115 {
  left: 115px !important;
}

.p-115 {
  padding: 115px !important;
}

.pt-115 {
  padding-top: 115px !important;
}

.pb-115 {
  padding-bottom: 115px !important;
}

.pl-115 {
  padding-left: 115px !important;
}

.pr-115 {
  padding-right: 115px !important;
}

.px-115 {
  padding-right: 115px !important;
  padding-left: 115px !important;
}

.py-115 {
  padding-top: 115px !important;
  padding-bottom: 115px !important;
}

.m-115 {
  margin: 115px !important;
}

.mt-115 {
  margin-top: 115px !important;
}

.mb-115 {
  margin-bottom: 115px !important;
}

.ml-115 {
  margin-left: 115px !important;
}

.mr-115 {
  margin-right: 115px !important;
}

.mx-115 {
  margin-right: 115px !important;
  margin-left: 115px !important;
}

.my-115 {
  margin-top: 115px !important;
  margin-bottom: 115px !important;
}

.border-radius-120 {
  border-radius: 120px !important;
}

.h-120vh {
  min-height: 120vh !important;
}

.h-120 {
  height: 120% !important;
}

.w-120 {
  width: 120% !important;
}

.t-120 {
  top: 120px !important;
}

.r-120 {
  right: 120px !important;
}

.b-120 {
  bottom: 120px !important;
}

.l-120 {
  left: 120px !important;
}

.p-120 {
  padding: 120px !important;
}

.pt-120 {
  padding-top: 120px !important;
}

.pb-120 {
  padding-bottom: 120px !important;
}

.pl-120 {
  padding-left: 120px !important;
}

.pr-120 {
  padding-right: 120px !important;
}

.px-120 {
  padding-right: 120px !important;
  padding-left: 120px !important;
}

.py-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.m-120 {
  margin: 120px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.ml-120 {
  margin-left: 120px !important;
}

.mr-120 {
  margin-right: 120px !important;
}

.mx-120 {
  margin-right: 120px !important;
  margin-left: 120px !important;
}

.my-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}
/*# sourceMappingURL=style.css.map */